﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="lista.aspx.cs" Inherits="A2.lista" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel = "stylesheet" type = "text/css"href = "style.css">
</head>
<body>
    <div id="pojemnik">

<div id="pole"></div>
    <form id="form1" runat="server">
        <div>
            <asp:RadioButtonList ID="RadioButtonList1" runat="server" OnSelectedIndexChanged="RadioButtonList1_SelectedIndexChanged" AutoPostBack="True">
                <asp:ListItem>Kucharz</asp:ListItem>
                <asp:ListItem>Kelner</asp:ListItem>
                <asp:ListItem>Barman</asp:ListItem>
               </asp:RadioButtonList>
            <br />
            <asp:CheckBoxList ID="CheckBoxList1" runat="server" OnSelectedIndexChanged="CheckBoxList1_SelectedIndexChanged" Visible="False">
                              
            </asp:CheckBoxList>
            <br />
            <asp:CheckBoxList ID="CheckBoxList2" runat="server" OnSelectedIndexChanged="CheckBoxList2_SelectedIndexChanged" Visible="False">
                
               
            </asp:CheckBoxList>
            <br />
            <asp:CheckBoxList ID="CheckBoxList3" runat="server" OnSelectedIndexChanged="CheckBoxList3_SelectedIndexChanged" Visible="False">
                
                
            </asp:CheckBoxList>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Dalej" />
            <br />
        </div>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
    </form>
        </div>
</body>
</html>
