﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="podsumowanie.aspx.cs" Inherits="A2.podsumowanie" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel = "stylesheet" type = "text/css"href = "style.css">
</head>
<body>
     <div id="pojemnik">

<div id="pole"></div>
    <form id="form1" runat="server">
        <div>
            <p> Lista płac została utworzona</p>
            <p> &nbsp;</p>
            <p> &nbsp;</p>
            <p> &nbsp;</p>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Powrót" />
        </div>
    </form>
         </div>
</body>
</html>
