﻿body {
    background: white;
}

#pojemnik {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: lightblue;
    height: 1000px;
}

#pole {
    width: 1000px;
    
    height: 100px;
}
