﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="A1.index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel = "stylesheet" type = "text/css"href = "style.css">
</head>
<body>
    <div id ="pojemnik">
<div id="pole"></div>
<div id = "linki">
<a href = "pracownik.aspx"><div class = "foto"><img src = "1.jpg" width = "300px" height= "300px"; /></div></a>
<a href = "menadzer.aspx"><div class = "foto"><img src = "2.jpg" width = "300px" height= "300px"; /></div></a>
<a href = "ksiegowy.aspx"><div class = "foto"><img src = "3.jpg" width = "300px" height= "300px"; /></div></a>
</div>
</div>
</body>
</html>
