﻿body {
    background: white;
}

#pojemnik {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: lightblue;
}

#pole {
    width: 1000px;
    height: 100px;
}

.foto {
    width: 300px;
    height: 300px;
    margin: 10px;
    float: left;
    transition: all 1s ease-in-out;
}

    .foto:hover {
        transform: scale(0.9);
    }

#linki {
    width: 1000px;
    height: 400px;
}
#pole2 {
    width: 1000px;
    ;
    height: 400px;
    background-color: lgrey;
    /* setting the number of columns to 3 */
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    /* setting the space between columns to 30px */
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
    /* adding a 1px black line between each column */
    -webkit-column-rule: 1px outset black;
    -moz-column-rule: 1px outset black;
    -o-column-rule: 1px outset black;
    column-rule: 1px outset black;
}