body{
	background: white;
}
#pojemnik{
	width: 1000px;
	margin-left: auto;
	margin-right:auto;
	background: lightblue;
}
#pole{
	width:1000px;
height:100px;
}
.foto{
	width: 300px;
	height: 300px;
	margin:10px;
	float: left;
	
	transition: all 1s ease-in-out;
}
.foto:hover{
	transform: scale(0.9);
}
#linki{
width:1000px;
height: 400px;
}