body{
	background: white;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
#pojemnik{
	width: 1000px;
	margin-left: auto;
	margin-right:auto;
	background: rgba(0,0,240,0.8);
}
#tytul{
	font-family: Cookie;
	font-size: 48px;
	text-align: center;
}
.opis{
width:300px;;
height:150px;
float: left;
margin:10px;
color: white;
text-align: center;
}	
#pole{
	width:1000px;;
height:300px;
background: hsla(240, 22%, 90%, 1);
background-image: url("4.jpg");
    background-repeat: no-repeat;
	 background-position:center top;
    background-attachment: fixed;
}
#linki{
width:1000px;
height: 400px;
}	
.foto{
	width: 300px;
	height: 300px;
	margin:10px;
	float: left;
	
	transition: all 1s ease-in-out;
}
.foto:hover{
	transform: scale(0.9);
}
.nawigacja{
	width: 1000px;
	height: 50px;
	background: rgba(191, 63, 101, 1);
	
}
#strona{
	width: 100%;
	
	background: hsla(240, 22%, 90%, 1);
}
.polowa{
	width: 499px;
	height: 300px;
	float: left;
	
}
.polowa:first-of-type{
border-right:2px solid rgba(0,0,240,0.8);
}


#dane_osobowe td{
	
    border-bottom: 1px solid rgba(0,0,240,0.8);
}
#dane_osobowe tr:hover {background-color: #f5f5f5;}
#wynagrodzenie th {
	background-color: rgba(0,0,240,0.8);
}
#wynagrodzenie tr:nth-child(even){
	background-color: #f5f5f5;
}
#wynagrodzenie {
	 border: 2px solid rgba(0,0,240,0.8);
}
#kwadrat{
width: 100px;
height: 100px;
border: 1px solid black;
}	

.flexbox{
	width: 690px;
	height: 290px;
	display: -webkit-box;
display: box;
-webkit-box-orient: horizontal;
box-orient: horizontal;
position: relative;
    left: 300px;
}
.flexbox > div{
	-webkit-transition: 1s ease-out;
transition: 1s ease-out;
width: 100px;
background-color: white;
}
.flexbox > div:hover {
width: 200px;
background-color: red;
border-width: 5px;
border-style: solid;
border-color: black;
padding: 5px;
margin: 5px;
}	
.pole1{
	width:1000px;;
height:290px;	
background-color: lgrey;
}
#pole2{
	width:1000px;;
height:400px;	
background-color: lgrey;
/* setting the number of columns to 3 */
-webkit-column-count: 3;
-moz-column-count: 3;
-o-column-count: 3;
column-count: 3;

/* setting the space between columns to 30px */
-webkit-column-gap: 30px;
-moz-column-gap: 30px;
-o-column-gap: 30px;
column-gap: 30px;

/* adding a 1px black line between each column */
-webkit-column-rule: 1px outset black;
-moz-column-rule: 1px outset black;
-o-column-rule: 1px outset black;
column-rule: 1px outset black;
}
#animacja{
  width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
      animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}	
h3{
	text-shadow: -4px 4px 6px dimgrey;
	position:relative;
	left: 20px;}
#zaokraglenie{
	border-radius: 50px;
	border: 3px solid navy;
	width:100px;
}
#liniowy{
	box-shadow: -25px -25px 50px dimgrey;
	margin: 50px;
	width:100px;
	height:100px;
	background: -webkit-gradient(
linear, left top, right top,
color-stop(15%, white), color-stop(50%, yellow),
color-stop(75%, orange) );
background: -moz-linear-gradient(
left, white 15%, yellow 50%, orange 75% );
background: linear-gradient(
90deg, white 15%, yellow 50%, orange 75% );
}

#radialny{
	background: -webkit-radial-gradient(center, yellow, red);
background: -moz-radial-gradient(center, yellow, red);
background: radial-gradient(center, yellow, red);
box-shadow: -25px -25px 50px dimgrey;
	margin: 50px;
	width:100px;
	height:100px;
}
#rama_obraz{
	width:300px;
	border: 100px solid transparent;
    padding: 15px;
border-image:url(5.png ) 34% 34% repeat;
}

#mainmenu, #mainmenu ul {list-style: none; margin: 0; padding: 0;}
#mainmenu ul {width: 160px;}
#mainmenu ul li {clear: both;}
#mainmenu > li {float: left; margin-right: 10px; position: relative;}
#mainmenu > li li {position: relative;}
#mainmenu > li ul {position: absolute; left: 0;}
#mainmenu > li ul li ul {position: absolute; left: 160px; top: 0px;}
ul ul {display: none;}
ul li:hover > ul {display: block;}

/*POZIOM 1*/
#mainmenu {margin: 50px 50px; font-family: calibri; tahoma, arial;}
#mainmenu > li > a {padding: 8px; border-radius: 3px; text-align: center; text-decoration: none; color: #84c5f7;}
#mainmenu > li:hover > a {background: #eee; color: #0090ff;}

/*POZIOMY NIŻSZE*/
#mainmenu ul {font-size: 12px; border-radius: 3px; background: #eee;}
#mainmenu ul li > a {color: #999; display: block; padding: 5px; border-radius: 3px; text-decoration: none;}
#mainmenu ul li:hover > a {color: #eee; background: #aaa;}

a:active {
    background-color: yellow;
}
input:checked {
    height: 20px;
    width: 20px;
}
input[type=text]:disabled {
    background: #dddddd;
}
p:empty {
    width: 100px;
    height: 20px;
    background: #ff0000;
}
input[type=text]:enabled {
    background: #ffff00;
}
a:visited {
    color: red;
}
#zadanie{
	width =1000px;
}
.kafel{
	width:100px;
	height:100px;
	border: 5px solid black;
	float: left;
}
#zadanie>.kafel:first-of-type{
	background-color: white;
}
a:link {
    background-color: white;
}
#zadanie>.kafel:nth-child(2) {
    background: red;
}
#zadanie>.kafel:nth-last-child(2) {
    background: red;
}
#zadanie>.kafel:last-child {
    background: black;
}
#plansza{
	width: 200px;
    height: 100px;
    border: 1px solid black;
}
#czcionka{
}
.pierwsza{
 font-size: 10px;
}
.druga{
	font-size: 2em;
}
.trzecia{
	font-size: 20pt;
}
.czwarta{
	font-size: 50%;
}